*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background: linear-gradient(rgba(0,0,0,0.1) 0% 100%) , url(../img/digital-landscape-wallpaper.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    
    
}
.text{
    text-align: center;
    margin: auto;
    padding-top: 120px;
    position: absolute;

    left: 0;
    right: 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: medium;
}

.test
{height: 70vh;
    width: 70%;
background-color: rgba(255, 0, 208, 0.1);
backdrop-filter:blur(1px);
text-align: center;
margin: auto;
position: relative;
top: 110px;

box-shadow: 5px 5px 20px 20px rgba(245, 0, 241, 0.4);


border-top-left-radius: 20%;
border-bottom-right-radius: 20%;
text-shadow: 50px;
transition: 1s;
}
.test:hover{
    box-shadow: 5px 5px 20px 20px rgba(110, 0, 245, 0.41);
  
}


.click{
    background-color: rgb(224, 158, 255);
    color: white;
 
 padding: 15px;
 transition: 1s;
 
 box-shadow: 5px 5px 20px 20px rgba(245, 0, 241, 0.4);
 
 
}
.click:hover {
    background-color: white;
    color: rgb(199, 88, 250);
    box-shadow: 5px 5px 20px 20px rgba(110, 0, 245, 0.41);

    
}

.quote{
    margin-top: 100px !important;
}